%div.list{ "data-id" => list.id }
  %div.title
    %div.handle
      = link_to "delete", list_path(list), :remote => true, :method => :delete, :class => "destroy"
    %span.name
      = list.name
  = render 'tasks/form', :list => list
  = render 'tasks/list', :tasks => list.tasks