%div.list{ "data-id" => list.id }
  %div
    %h3= list.name
    %p
      = link_to "x", list_path(list), :remote => true, :method => :delete
  = render 'tasks/form', :list => list
  = render 'tasks/list', :tasks => list.tasks
