%li.item{ :class => "#{selected_class(list, params[:list_id])}", "data-id" => list.id }
  - if list.tasks.count > 0
    %div.counter
      %span.inner= list.tasks.open.count
  = link_to list.name, group_list_path(group, list)