%div#sidebar
  %ul
    %li.heading Lists
    = render @lists
%div#workspace
  %div#tasks
    %div{ :class => "context list" }
      %div.heading
        %div.left
          %div
            %a{ :href => "#" } Add a Task
      %div.items
        %div{ :class => "separator first" }
        %div{ :class => "item first "}
          %div{ :class => "checkbox checked" }
            %a{ :href => "#" } Complete
          %div.star{ :class => "starred" }
            %a{ :href => "#" } Star
          %div.project-title
          %div.preview
            %div.title Notes anyone?
            %div.excerpt 
              By golee, I am a note!
              Sweeeet
              What about another line?
        %div{ :class => "separator last" }