%div#sidebar
  %div.heading Lists
  %ul#lists
    = render @lists, :list_id => @list.id
    %li{ :class => "item last" }
      = render 'form'
%div#workspace
  = render "tasks/list", :tasks => @list.tasks