%div#sidebar
  %div.header Lists
  %ul#lists
    = render @lists, :group => @group
  %div.footer
    = render 'form', :group => @group
%div#workspace
  - if @list
    = render "tasks/list", :group => @group, :list => @list
  - else
    = render "no_list"  