- if user_signed_in?
  %li= link_to "Logout", destroy_user_session_path
  %li= gravatar_image_tag current_user.email, :align => :right, :class => "shadow", :gravatar => { :size => 64 }
- else
  %li= link_to "Login", new_user_session_path