%div#tasks
  %div{ :class => "list" }
    %div.header
      %div.left
        %div
          = @list.name          
    %div{ :class => "new-task" }
      = render "tasks/form", :list => @list
    %ul#tasks
      = render tasks.ordered
    %div.footer