%div#tasks
  %div{ :class => "list" }
    %div.header
      %div.left
        %div
          Incomplete
      %div.delete
        = link_to list_path(@list), :remote => true, :method => :delete do
          Delete
    %div{ :class => "new-task" }
      = render "tasks/form", :list => @list
    %ol#tasks{ "data-id" => @list.id }
      = render tasks.open.ordered
    %ul#closed-tasks{ "data-id" => @list.id }
      = render tasks.closed.ordered
    %div.footer