%div#tasks
  %div{ :class => "context list" }
    %div.heading
      %div.left
        %div
          = @list.name
    %div.items
      %div{ :class => "input" }
        = render "tasks/form", :list => @list
      = render tasks.ordered