%div{ "data-id" => task.id, "data-path" => list_task_path(task.list, task), "data-task" => task.title, :class => "item"}
  %div{ :class => "checkbox" }
    %a{ :href => "#" } Complete
  %div.star
    %a{ :href => "#" } Star
  %div.project-title
  %div.preview
    %div.title 
      = task.title
    / %div.excerpt 
    /   By golee, I am a note!
    /   Sweeeet
    /   What about another line?