$red: #ff0000;

div.task {
  cursor: pointer;
  > a {
    color: #000;
    text-decoration: none;
  }
  >a:hover,.completed {
    text-decoration: line-through;
  }
  .completed {
    color: #888;
  }
  p {
    display: inline;
    visibility: hidden;
  }
}

div.task:hover p {
  visibility: visible;
}
