$red:        #ff0000;
$bg_color:   #e5e5e5;
$list_width: 200px;

@mixin shadow($color: #333333) {
  -moz-box-shadow: 0px 1px 2px $color;
  -webkit-box-shadow: 0px 1px 2px $color;
  box-shadow: 0px 1px 2px $color;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='$color')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='$color');
}

@mixin rounded($radius: 10px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin list() {
  list-style: none;
  padding: 0;
  margin: 5px 0 10px 0;
  
  li {
    line-height: 20px;
    border-bottom: 1px dotted #ddd;
    margin-bottom: 2px;
    padding-left: 4px;
    position: relative;
    
    div {
      display: inline;
      padding-right: 10px;
    }
    
    div.extra {
      position: absolute;
      padding-right: 0;
      right: 2px;

      a {
        color: #888;
        padding: 0 4px;
        
        &:hover {
          color: $red;
        }
      }
    }
    
    a {
      color: #000;
      text-decoration: none;
    }
  }
}

body {
  font-family: "Lucida Grande", Arial, Sans-Serif;
  font-size: 12px;
  background-color: $bg_color;
}

div.block {
  @include shadow(darken($bg_color, 25%));
  background: none repeat scroll 0 0 #fff;
  border-bottom: 1px solid darken($bg_color, 25%);
  border-right: 1px solid darken($bg_color, 25%);
  margin: 10px 10px 20px 30px;
  
  div.header {
    position: relative;
    background-color: #edf3fe;
    padding: 4px 24px;
    
    h1 {
      font-size: 14px;
    }
    
    div.create_list {
      top: 5px;
      right: 75px;
      position: absolute;
    }
  }
  
  ul#lists {
    padding-left: 20px;
    
    li.list {
      background-color: #fff;
      list-style: none;
      position: relative;
      display: inline-block;
      vertical-align: top;
      width: $list_width;
      min-height: 200px;
      margin: 0 5px;
      
      div.head {
        cursor: move;
      }
      
      div.name{
        display: inline;
        font-size: 16px;
        padding-right: 20px;
        text-decoration: underline;
      }

      div.extra {
        display: inline;
        position: absolute;
        right: 2px;
        background-color: #fff;
        visibility: hidden;
    
        a {
          text-decoration: none;
          
          &.share_open {
            color: green;
          }
          
          &.destroy {
            color: #bbb;
            padding: 0 4px;
            
            &:hover {
              color: $red;
            }
          }
        }
      }
      
      div.share_form {
        display: none;
        position:absolute;
        margin-top: 8px;
        background-color: white;
        z-index: 2000;
        width: $list_width - 20px;
        padding: 15px 10px 25px 10px;
        border-top: 1px solid #ddd;
        @include shadow;
        
        ul {
          @include list;
          padding-top: 1px;
          background-color: #ffffc2;
          
          li {
            margin: 0;
            padding: 0;
            display: block;
            
            p > img {
              padding: 0 5px 0 10px;
            }
          }
        }
        
        .share_close {
          color: red;
          position: absolute;
          right: 10px;
        }
      }
      
      form.new_task input {
        margin-top: 10px;
        width: $list_width - 6px;
      }
      
      div.head:hover {
        > div.extra {
          visibility: visible;
        }
      }
    }
    
    ul.tasks {
      @include list;
      li.task {
        cursor: move;
        
        &:hover {
          div.extra {
            visibility: visible;
          }
          div.title > a {
            text-decoration: line-through;
          }
        }
                  
        div.title a:hover:not(:first-child) {
          text-decoration: underline;
          color: blue;
        }
        
        &.completed {
          div.title a {
            text-decoration: line-through;
            color: #888;
          }
        }
        
        div.extra {
          visibility: hidden;
        }
      }
    }
  }
  
  form#new_list {
    padding: 5px 0 10px 20px;
  }
}

ul.ui-autocomplete {
  @include list;
  width: $list_width;
  background-color: #d7ffc2;
}

ul#hmenu {
  position: relative;
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
  z-index: 2000;
  
  li {
    display: inline;
  }
  
  img {
    float: right;
    border: 2px solid white;
    @include shadow;
  }
}

.username_valid {
  background-color: lighten(green, 50%);
}