$red:        #ff0000;
$bg_color:   #fff;

@mixin shadow($color: #333333) {
  -moz-box-shadow: 0px 1px 2px $color;
  -webkit-box-shadow: 0px 1px 2px $color;
  box-shadow: 0px 1px 2px $color;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='$color')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='$color');
}

@mixin rounded($radius: 10px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin list {
  list-style: none;
  padding: 0;
  margin: 5px 0 10px 0;
  
  li {
    line-height: 24px;
    border-bottom: 1px dotted #ddd;
    margin-bottom: 2px;
    padding-left: 4px;
    position: relative;
    background-color: $bg_color;
    
    div {
      display: inline;
      padding-right: 10px;
    }
    
    div.extra {
      position: absolute;
      padding-right: 0;
      right: 2px;

      a {
        color: #888;
        padding: 0 4px;
        
        &:hover {
          color: $red;
        }
      }
    }
    
    a {
      color: #000;
      text-decoration: none;
    }
  }
}

body {
  font-family: 'Lucida Grande', verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  background-color: $bg_color;
}

div#container {
  margin: 0 auto;
  min-width: 750px;
  width: 85%;
}

div#left_column {
  float: left;
  min-width: 450px;
  width: 60%;
}

div#right_right {
  float: right;
  width: 290px;
  padding-left: 10px;
}

div.block {
  div.header {
    position: relative;
    padding: 4px 5px;
    
    h1 {
      font-size: 16px;
      border-bottom: 1px solid #ccc;
      margin-bottom: 4px;
    }
    
    div.create_list {
      top: 0px;
      right: 75px;
      position: absolute;
    }
  }
  
  ul#lists {
    padding-left: 0px;
    
    li.list {
      background-color: #fff;
      list-style: none;
      padding-bottom: 15px;
      position: relative;
      vertical-align: top;
      margin: 0 5px;
      
      div.head {
        cursor: move;
      }
      
      h2 {
        display: inline;
        font-size: 24px;
        cursor: auto;
        
        &:hover {
          background-color: #ffffc2;
        }
        
        input {
          font-size: 24px;
          background-color: #ffffc2;
        }
      }
    
      div.extra {
        display: inline;
        position: absolute;
        right: 2px;
        background-color: #fff;
        visibility: hidden;
    
        a {
          text-decoration: none;
          
          &.share_open {
            color: green;
          }
          
          &.destroy {
            color: #bbb;
            padding: 0 4px;
            
            &:hover {
              color: $red;
            }
          }
        }
      }
      
      div.share_form {
        @include shadow;
        display: none;
        position:absolute;
        margin-top: 8px;
        background-color: white;
        z-index: 2000;
        width: 180px;
        padding: 15px 10px 25px 10px;
        border-top: 1px solid #ddd;
      }
      
      form.new_task input {
        margin-top: 10px;
      }
      
      div.head:hover {
        > div.extra {
          visibility: visible;
        }
      }
    }
    
    ul.tasks {
      @include list;
      li.task {
        cursor: move;
        
        &:hover {
          div.extra {
            visibility: visible;
          }
          div.title > a {
            text-decoration: line-through;
          }
        }
                  
        div.title a:hover:not(:first-child) {
          text-decoration: underline;
          color: blue;
        }
        
        &.completed {
          div.title a {
            text-decoration: line-through;
            color: #888;
          }
        }
        
        div.extra {
          visibility: hidden;
        }
      }
    }
  }
}

ul.share_users, ul.ui-autocomplete {
  @include list;
  
  li {
    p > img {
      padding: 0 5px 0 10px;
    }
  }
}

.share_close {
  color: red;
  position: absolute;
  right: 10px;
}

ul.ui-autocomplete {
  @include list;
  @include shadow(lighten(#333, 35%));
  
  li {
    border-bottom: none;
    cursor: pointer;
  }
  
  width: 180px;
  max-height: 140px;
  overflow-y: auto;
  background-color: white;
}

ul#hmenu {
  position: relative;
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
  z-index: 2000;
  
  li {
    display: inline;
  }
  
  img {
    float: right;
    border: 2px solid white;
    @include shadow;
  }
}

.username_valid {
  background-color: lighten(green, 50%);
}