body {
  font-family: 'Lucida Grande', verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  background-color: white; }

div#container {
  margin: 0 auto;
  min-width: 750px;
  width: 85%; }

div#left_column {
  float: left;
  min-width: 450px;
  width: 60%; }

div#right_right {
  float: right;
  width: 290px;
  padding-left: 10px; }

div.block div.header {
  position: relative;
  padding: 4px 5px; }
  div.block div.header h1 {
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 4px; }
  div.block div.header div.create_list {
    top: 0px;
    right: 75px;
    position: absolute; }
div.block ul#lists {
  padding-left: 0px; }
  div.block ul#lists li.list {
    background-color: #fff;
    list-style: none;
    padding-bottom: 15px;
    position: relative;
    vertical-align: top;
    margin: 0 5px; }
    div.block ul#lists li.list div.head {
      cursor: move; }
    div.block ul#lists li.list h2 {
      display: inline;
      font-size: 24px;
      cursor: auto; }
      div.block ul#lists li.list h2:hover {
        background-color: #ffffc2; }
      div.block ul#lists li.list h2 input {
        font-size: 24px;
        background-color: #ffffc2; }
    div.block ul#lists li.list div.extra {
      display: inline;
      position: absolute;
      right: 2px;
      background-color: #fff;
      visibility: hidden; }
      div.block ul#lists li.list div.extra a {
        text-decoration: none; }
        div.block ul#lists li.list div.extra a.share_open {
          color: green; }
        div.block ul#lists li.list div.extra a.destroy {
          color: #bbb;
          padding: 0 4px; }
          div.block ul#lists li.list div.extra a.destroy:hover {
            color: red; }
    div.block ul#lists li.list div.share_form {
      -moz-box-shadow: 0px 1px 2px #333333;
      -webkit-box-shadow: 0px 1px 2px #333333;
      box-shadow: 0px 1px 2px #333333;
      -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='$color')";
      filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='$color');
      display: none;
      position: absolute;
      margin-top: 8px;
      background-color: white;
      z-index: 2000;
      width: 180px;
      padding: 15px 10px 25px 10px;
      border-top: 1px solid #ddd; }
    div.block ul#lists li.list form.new_task input {
      margin-top: 10px; }
    div.block ul#lists li.list div.head:hover > div.extra {
      visibility: visible; }
  div.block ul#lists ul.tasks {
    list-style: none;
    padding: 0;
    margin: 5px 0 10px 0; }
    div.block ul#lists ul.tasks li {
      line-height: 24px;
      border-bottom: 1px dotted #ddd;
      margin-bottom: 2px;
      padding-left: 4px;
      position: relative;
      background-color: white; }
      div.block ul#lists ul.tasks li div {
        display: inline;
        padding-right: 10px; }
      div.block ul#lists ul.tasks li div.extra {
        position: absolute;
        padding-right: 0;
        right: 2px; }
        div.block ul#lists ul.tasks li div.extra a {
          color: #888;
          padding: 0 4px; }
          div.block ul#lists ul.tasks li div.extra a:hover {
            color: red; }
      div.block ul#lists ul.tasks li a {
        color: #000;
        text-decoration: none; }
    div.block ul#lists ul.tasks li.task {
      cursor: move; }
      div.block ul#lists ul.tasks li.task:hover div.extra {
        visibility: visible; }
      div.block ul#lists ul.tasks li.task:hover div.title > a {
        text-decoration: line-through; }
      div.block ul#lists ul.tasks li.task div.title a:hover:not(:first-child) {
        text-decoration: underline;
        color: blue; }
      div.block ul#lists ul.tasks li.task.closed div.title a {
        text-decoration: line-through;
        color: #888; }
      div.block ul#lists ul.tasks li.task div.extra {
        visibility: hidden; }

ul.share_users, ul.ui-autocomplete {
  list-style: none;
  padding: 0;
  margin: 5px 0 10px 0; }
  ul.share_users li, ul.ui-autocomplete li {
    line-height: 24px;
    border-bottom: 1px dotted #ddd;
    margin-bottom: 2px;
    padding-left: 4px;
    position: relative;
    background-color: white; }
    ul.share_users li div, ul.ui-autocomplete li div {
      display: inline;
      padding-right: 10px; }
    ul.share_users li div.extra, ul.ui-autocomplete li div.extra {
      position: absolute;
      padding-right: 0;
      right: 2px; }
      ul.share_users li div.extra a, ul.ui-autocomplete li div.extra a {
        color: #888;
        padding: 0 4px; }
        ul.share_users li div.extra a:hover, ul.ui-autocomplete li div.extra a:hover {
          color: red; }
    ul.share_users li a, ul.ui-autocomplete li a {
      color: #000;
      text-decoration: none; }
  ul.share_users li p > img, ul.ui-autocomplete li p > img {
    padding: 0 5px 0 10px; }

.share_close {
  color: red;
  position: absolute;
  right: 10px; }

ul.ui-autocomplete {
  list-style: none;
  padding: 0;
  margin: 5px 0 10px 0;
  -moz-box-shadow: 0px 1px 2px #8c8c8c;
  -webkit-box-shadow: 0px 1px 2px #8c8c8c;
  box-shadow: 0px 1px 2px #8c8c8c;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='$color')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='$color');
  width: 180px;
  max-height: 140px;
  overflow-y: auto;
  background-color: white; }
  ul.ui-autocomplete li {
    line-height: 24px;
    border-bottom: 1px dotted #ddd;
    margin-bottom: 2px;
    padding-left: 4px;
    position: relative;
    background-color: white; }
    ul.ui-autocomplete li div {
      display: inline;
      padding-right: 10px; }
    ul.ui-autocomplete li div.extra {
      position: absolute;
      padding-right: 0;
      right: 2px; }
      ul.ui-autocomplete li div.extra a {
        color: #888;
        padding: 0 4px; }
        ul.ui-autocomplete li div.extra a:hover {
          color: red; }
    ul.ui-autocomplete li a {
      color: #000;
      text-decoration: none; }
  ul.ui-autocomplete li {
    border-bottom: none;
    cursor: pointer; }

ul#hmenu {
  position: relative;
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
  z-index: 2000; }
  ul#hmenu li {
    display: inline; }
  ul#hmenu img {
    float: right;
    border: 2px solid white;
    -moz-box-shadow: 0px 1px 2px #333333;
    -webkit-box-shadow: 0px 1px 2px #333333;
    box-shadow: 0px 1px 2px #333333;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='$color')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='$color'); }

.username_valid {
  background-color: #80ff80; }
