* {
  font-family: Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0; }

body {
  line-height: 1;
  background-color: #e8e8e8;
  height: 100%;
  padding: 0;
  margin: 0; }

html, body, #page {
  height: 100%; }

input {
  font-size: 13px; }

div#page {
  height: auto;
  min-height: 100%;
  position: relative; }
  div#page div#header {
    background: url(/images/sprites.png) repeat-x 0 -50px;
    height: 54px; }
    div#page div#header div#nav {
      height: 44px;
      position: relative;
      width: 855px; }
      div#page div#header div#nav a.item {
        color: white;
        display: block;
        float: left;
        font-size: 13px;
        font-weight: bold;
        height: 44px;
        margin: 0px;
        padding-left: 13px;
        text-decoration: none; }
        div#page div#header div#nav a.item span.inner {
          display: block;
          height: 40px;
          margin: 0px;
          padding-right: 11px; }
        div#page div#header div#nav a.item:hover > .inner, div#page div#header div#nav a.item.active > .inner {
          background: url(/images/sprites.png) no-repeat top right; }
        div#page div#header div#nav a.item:hover, div#page div#header div#nav a.item.active {
          background: url(/images/sprites.png) no-repeat 0 0; }
        div#page div#header div#nav a.item span.label {
          display: block;
          float: left;
          margin: 15px 0 0; }
      div#page div#header div#nav #nav-left {
        left: 0px;
        position: absolute;
        top: 0px; }
      div#page div#header div#nav #nav-right {
        position: absolute;
        right: 0px;
        top: 0px; }
  div#page div.view {
    display: block; }
  div#page div#sidebar {
    display: inline;
    float: left;
    margin: 0px 1px 20px 0px;
    position: relative;
    width: 175px; }
    div#page div#sidebar ul {
      list-style: none;
      margin: 19px 0px 16px;
      padding: 0px; }
      div#page div#sidebar ul li.heading {
        background: #e8e8e8 url(/images/lists.png) repeat-y 0px 0px;
        color: #666;
        font-size: 10px;
        font-weight: bold;
        height: 16px;
        margin: 0px;
        padding: 10px 10px 0px;
        text-align: center; }
      div#page div#sidebar ul li.item {
        background: white url(/images/lists.png) repeat-y -175px 0px;
        display: block;
        font-size: 13px;
        height: 28px;
        margin: 0px; }
        div#page div#sidebar ul li.item.selected {
          background-position: -350px 0px; }
          div#page div#sidebar ul li.item.selected a {
            color: #fff; }
        div#page div#sidebar ul li.item.last {
          background-position: -525px 0px;
          height: 37px; }
        div#page div#sidebar ul li.item .counter {
          float: right;
          margin: 7px 10px 0px 2px; }
        div#page div#sidebar ul li.item a {
          text-decoration: none;
          color: #333;
          display: block;
          height: 20px;
          padding: 8px 16px 0px;
          text-decoration: none; }
      div#page div#sidebar ul li input {
        width: 150px;
        margin: 5px 5px 0px 10px; }
        div#page div#sidebar ul li input[type=submit] {
          display: none; }
  div#page div#full {
    display: block;
    margin: 19px 0px 16px;
    position: relative;
    width: 859px; }
    div#page div#full div.heading {
      background: white url(/images/full.png) no-repeat 0px 0px;
      color: #999;
      font-size: 10px;
      font-weight: bold;
      height: 24px;
      overflow: hidden;
      white-space: nowrap;
      width: 859px; }
      div#page div#full div.heading a {
        color: #2D5E93;
        text-decoration: none; }
      div#page div#full div.heading div.left {
        padding: 10px 0px 0px 15px;
        float: left; }
        div#page div#full div.heading div.left div {
          display: block;
          float: left;
          height: 12px; }
    div#page div#full div.items {
      background: #e8e8e8 url(/images/full.png) repeat-y -859px 0px; }
      div#page div#full div.items div.separator {
        background: white url(/images/full.png) no-repeat -1721px 0px;
        height: 5px;
        margin: 0px 3px;
        width: 853px; }
        div#page div#full div.items div.separator.first {
          background-position: -1721px -10px; }
        div#page div#full div.items div.separator.last {
          background-position: -2577px -20px;
          height: 10px;
          margin: 0px;
          overflow: hidden;
          padding: 4px 0px 0px;
          white-space: nowrap;
          width: 859px; }
      div#page div#full div.items div.item {
        background: white;
        font-size: 13px;
        margin: 0px 3px;
        padding: 3px 0px 0px;
        width: 853px; }
        div#page div#full div.items div.item div.counter {
          float: left;
          margin: 2px 7px 0px 0px; }
  div#page div#workspace {
    display: inline;
    float: right;
    margin: 0px 0px 20px;
    position: relative;
    width: 700px; }
    div#page div#workspace div#tasks {
      margin: 19px 0px 16px;
      position: relative;
      width: 700px; }
    div#page div#workspace div.list div.header {
      color: #999;
      font-size: 10px;
      font-weight: bold;
      height: 28px;
      margin-top: 1px;
      overflow: hidden;
      padding: 0px 20px;
      white-space: nowrap;
      width: 660px;
      background: transparent url(/images/workspace.png) no-repeat 0px 1px; }
      div#page div#workspace div.list div.header div.left {
        float: left;
        padding: 10px 0px 0px 9px; }
        div#page div#workspace div.list div.header div.left div {
          display: block;
          float: left;
          height: 12px; }
      div#page div#workspace div.list div.header a {
        color: #2d5e93;
        text-decoration: none; }
    div#page div#workspace div.list div.footer {
      padding-bottom: 10px;
      background: #e8e8e8 url(/images/workspace.png) no-repeat -2100px -27px; }
    div#page div#workspace div.list div.new-task {
      background: #e8e8e8 url(/images/workspace.png) repeat-y -700px 0px;
      padding: 5px 10px 4px 28px;
      width: 660px; }
      div#page div#workspace div.list div.new-task input {
        width: 635px; }
    div#page div#workspace div.list div.items {
      width: 700px; }
      div#page div#workspace div.list div.items div.item {
        background: #e8e8e8 url(/images/workspace.png) repeat-y -700px 0px;
        padding: 8px 20px 0px;
        width: 660px; }
        div#page div#workspace div.list div.items div.item.closed {
          color: #aaa; }
        div#page div#workspace div.list div.items div.item div.preview {
          height: 20px;
          padding: 1px 0px 0px 2px; }
  div#page #main {
    overflow: hidden;
    padding-bottom: 45px; }

div.clearfix {
  display: block; }

div.full {
  clear: both; }

div#footer {
  overflow: hidden;
  background: url(/images/footer.png) repeat-x;
  clear: both;
  height: 45px;
  margin-top: -45px;
  position: relative; }
  div#footer a#footer-logo {
    height: 23px;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    top: 15px;
    width: 130px; }
  div#footer div.right {
    padding: 0px 20px 0px 0px; }
    div#footer div.right > a, div#footer div.right > span {
      color: #316e9e;
      display: block;
      float: right;
      font-size: 13px;
      height: 26px;
      margin: 13px 0px 0px 16px;
      text-decoration: none; }
    div#footer div.right > a {
      padding: 6px 0px 0px;
      width: auto; }
  div#footer div#search-field {
    margin-top: 12px !important;
    position: relative;
    z-index: 103;
    width: 151px;
    background: transparent url(/images/search-field.png) no-repeat; }
    div#footer div#search-field > input {
      margin-top: 3px;
      border: 0px none;
      font-size: 13px;
      padding: 7px 3px 0px 12px;
      width: 116px; }

div.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  width: 876px; }

.counter {
  color: #fff;
  display: block;
  font-weight: bold;
  height: 16px;
  padding: 0px 0px 0px 5px;
  background: url(/images/item-counter-left.png) no-repeat; }
  .counter > .inner {
    display: block;
    line-height: 13px;
    padding: 0px 5px 0px 0px;
    background: url(/images/sprites.png) no-repeat -138px -105px; }

div.checkbox {
  background: url(/images/sprites.png) no-repeat 0px -105px;
  float: left;
  height: 16px;
  overflow: hidden;
  text-indent: -9999px;
  width: 16px;
  margin: 2px 4px 0px 6px; }
  div.checkbox:hover, div.checkbox.closed {
    background-position: -14px -105px; }

div.preview {
  margin-right: 10px;
  overflow: hidden;
  height: 20px;
  padding: 3px 0px 0px; }
  div.preview div.title {
    display: inline;
    font-size: 13px; }
  div.preview div.excerpt {
    color: #888;
    display: inline;
    font-size: 10px;
    margin: 0px 5px; }

div.item {
  cursor: pointer;
  font-size: 13px;
  height: 20px;
  overflow: hidden;
  white-space: nowrap; }
  div.item div.star {
    background: url(/images/sprites.png) no-repeat -28px -105px;
    float: left;
    height: 16px;
    margin: 2px 2px 0px 0px;
    overflow: hidden;
    text-indent: -9999px;
    width: 16px; }
    div.item div.star:hover, div.item div.star.starred {
      background-position: -42px -105px; }
