* {
  font-family: Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0; }

body {
  line-height: 1;
  background-color: #e8e8e8;
  height: 100%;
  padding: 0;
  margin: 0; }

html, body, #page {
  height: 100%; }

input {
  font-size: 13px; }

div#page {
  height: auto;
  min-height: 100%;
  position: relative; }
  div#page div#header {
    background: url(/images/bg_sprites.png) repeat-x 0 0;
    height: 50px; }
    div#page div#header div.container {
      width: 855px; }
    div#page div#header ul#nav {
      position: relative;
      vertical-align: middle;
      list-style: none;
      display: inline; }
      div#page div#header ul#nav li {
        display: inline; }
      div#page div#header ul#nav a {
        color: white;
        display: block;
        float: left;
        font-size: 13px;
        font-weight: bold;
        padding: 4px 10px;
        margin: 12px 2px;
        text-decoration: none; }
        div#page div#header ul#nav a:hover, div#page div#header ul#nav a.active {
          background: url(/images/bg_sprites.png) repeat-x 0 -169px;
          -webkit-border-radius: 15px;
          -moz-border-radius: 12px;
          border-radius: 12px;
          -moz-box-shadow: inset 0px 1px 2px #333;
          -webkit-box-shadow: inset 0px 1px 2px #333;
          box-shadow: inset 0px 1px 2px #333;
          -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='#333')";
          filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='#333'); }
    div#page div#header #nav-right {
      position: absolute;
      right: 0px;
      top: 0px; }
  div#page div.view {
    display: block; }
  div#page div#sidebar {
    display: inline;
    float: left;
    position: relative;
    width: 175px;
    margin-top: 10px;
    background-color: #fff;
    -webkit-border-radius: 0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    border-radius: 0 0 7px 7px;
    -webkit-box-shadow: 0 0 5px #999999;
    -moz-box-shadow: 0 0 5px #999999;
    box-shadow: 0 0 5px #999999; }
    div#page div#sidebar div.header {
      color: #666;
      font-size: 10px;
      font-weight: bold;
      height: 23px;
      line-height: 23px;
      padding: 0 10px;
      overflow: hidden;
      white-space: nowrap;
      background: url(/images/bg_sprites.png) repeat-x 0 -50px; }
    div#page div#sidebar div.footer {
      background: url(/images/bg_sprites.png) repeat-x 0 -129px;
      padding: 5px;
      -webkit-border-radius: 0 0 7px 7px;
      -moz-border-radius: 0 0 7px 7px;
      border-radius: 0 0 7px 7px; }
      div#page div#sidebar div.footer input {
        width: 95%; }
        div#page div#sidebar div.footer input[type=submit] {
          display: none; }
    div#page div#sidebar ul {
      list-style: none;
      margin-bottm: 16px;
      padding: 0px; }
      div#page div#sidebar ul li.item {
        background: url(/images/bg_sprites.png) repeat-x 0 -101px;
        display: block;
        font-size: 13px;
        height: 28px;
        margin: 0px; }
        div#page div#sidebar ul li.item.selected, div#page div#sidebar ul li.item:hover {
          background-position: 0px -73px; }
          div#page div#sidebar ul li.item.selected a, div#page div#sidebar ul li.item:hover a {
            color: #fff; }
        div#page div#sidebar ul li.item .counter {
          float: right;
          margin: 7px 10px 0px 2px; }
        div#page div#sidebar ul li.item a {
          text-decoration: none;
          color: #333;
          display: block;
          height: 20px;
          padding: 8px 10px 0px; }
  div#page div#workspace {
    display: inline;
    float: right;
    margin: 0px 0px 20px;
    position: relative;
    width: 700px; }
    div#page div#workspace div#tasks {
      position: relative; }
    div#page div#workspace div.list {
      -webkit-border-radius: 0 0 7px 7px;
      -moz-border-radius: 0 0 7px 7px;
      border-radius: 0 0 7px 7px;
      -webkit-box-shadow: 0 0 5px #999999;
      -moz-box-shadow: 0 0 5px #999999;
      box-shadow: 0 0 5px #999999;
      background-color: #fff;
      margin: 10px 0 0 20px;
      padding-bottom: 5px; }
      div#page div#workspace div.list div.header {
        color: #999;
        font-size: 10px;
        font-weight: bold;
        height: 23px;
        margin-bottom: 8px;
        line-height: 23px;
        padding: 0 10px;
        overflow: hidden;
        white-space: nowrap;
        background: url(/images/bg_sprites.png) repeat-x 0 -50px; }
        div#page div#workspace div.list div.header div.left {
          float: left; }
          div#page div#workspace div.list div.header div.left div {
            display: block; }
        div#page div#workspace div.list div.header div.delete {
          display: block;
          float: right;
          margin: 5px 0; }
        div#page div#workspace div.list div.header a {
          color: #2d5e93;
          text-decoration: none; }
      div#page div#workspace div.list div.new-task {
        padding: 0 10px; }
        div#page div#workspace div.list div.new-task input {
          width: 99%; }
      div#page div#workspace div.list ul#closed-tasks {
        border-top: 1px dashed #e8e8e8; }
      div#page div#workspace div.list ol#tasks,
      div#page div#workspace div.list ul#closed-tasks {
        list-style: none; }
        div#page div#workspace div.list ol#tasks li.item,
        div#page div#workspace div.list ul#closed-tasks li.item {
          padding-top: 7px; }
          div#page div#workspace div.list ol#tasks li.item.closed,
          div#page div#workspace div.list ul#closed-tasks li.item.closed {
            color: #aaa; }
          div#page div#workspace div.list ol#tasks li.item:hover > div.delete,
          div#page div#workspace div.list ul#closed-tasks li.item:hover > div.delete {
            visibility: visible; }
          div#page div#workspace div.list ol#tasks li.item div.preview,
          div#page div#workspace div.list ul#closed-tasks li.item div.preview {
            height: 20px;
            padding: 1px 0px 0px 2px; }
  div#page #main {
    overflow: hidden;
    padding-bottom: 45px; }

div.clearfix {
  display: block; }

div.full {
  clear: both; }

div#footer {
  overflow: hidden;
  background: url(/images/bg_sprites.png) repeat-x 0 -207px;
  clear: both;
  height: 45px;
  margin-top: -45px;
  position: relative; }
  div#footer a#footer-logo {
    height: 23px;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    top: 15px;
    width: 130px; }
  div#footer div.right {
    padding: 0px 20px 0px 0px; }
    div#footer div.right > a, div#footer div.right > span {
      color: #316e9e;
      display: block;
      float: right;
      font-size: 13px;
      height: 26px;
      margin: 13px 0px 0px 16px;
      text-decoration: none; }
    div#footer div.right > a {
      padding: 6px 0px 0px;
      width: auto; }
  div#footer div#search-field {
    margin-top: 12px !important;
    position: relative;
    z-index: 103;
    width: 151px;
    /*    background: transparent url(/images/search-field.png) no-repeat;*/ }
    div#footer div#search-field > input {
      margin-top: 3px;
      border: 0px none;
      font-size: 13px;
      padding: 7px 3px 0px 12px;
      width: 116px; }

div.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  width: 876px; }

.counter {
  color: #fff;
  display: block;
  font-weight: bold;
  padding: 1px 5px;
  background-color: #d4d4d4;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px; }

div.checkbox {
  background: url(/images/icons.png) no-repeat 0 -5px;
  float: left;
  height: 16px;
  overflow: hidden;
  text-indent: -9999px;
  width: 16px;
  margin: 2px 4px 0px 6px; }
  div.checkbox:hover, div.checkbox.closed {
    background-position: -16px -105px; }

div.preview {
  margin-right: 10px;
  overflow: hidden;
  height: 20px;
  padding: 3px 0px 0px; }
  div.preview div.title {
    display: inline;
    font-size: 13px; }
  div.preview div.excerpt {
    color: #888;
    display: inline;
    font-size: 10px;
    margin: 0px 5px; }

li.item {
  cursor: pointer;
  font-size: 13px;
  height: 20px;
  overflow: hidden;
  white-space: nowrap; }
  li.item div.star {
    background: url(/images/icons.png) no-repeat -32px -5px;
    float: left;
    height: 16px;
    margin: 2px 2px 0px 0px;
    overflow: hidden;
    text-indent: -9999px;
    width: 16px; }
    li.item div.star:hover, li.item div.star.starred {
      background-position: -49px -105px; }
  li.item div.delete {
    float: right;
    margin: 0px 10px 0px;
    visibility: hidden; }

div.delete {
  background: url(/images/icons.png) no-repeat -66px -3px;
  width: 16px;
  height: 16px;
  overflow: hidden;
  text-indent: -9999px; }
  div.delete:hover {
    background-position: -83px -3px; }
